/* general style */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --blue: #19c8fa;
  --secBlue: rgb(15 116 143 / 70%);
  --white: #e2e2e2;
  --sec-white: #fcfcfc;
}
body {
  font-family: "Work Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
.specialHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 75px;
  align-items: center;
}
.specialHeader p {
  width: 550px;
  max-width: 100%;
  text-align: center;
  line-height: 2;
  color: rgb(119, 119, 119);
  margin-top: 25px;
}
.specialHeader h2 {
  font-weight: normal;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
}
.specialHeader h2::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  background-color: black;
  margin-bottom: 30px;
}
.specialHeader h2::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background-color: #fff;
  border: 2px solid black;
}

@media (max-width: 400px) {
  .specialHeader {
    padding: 45px;
  }
}
/* header start */
.header {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .container::before {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  bottom: 0;
  background-color: var(--white);
}
.header .logo {
  width: fit-content;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 115px);
  z-index: 5;
}
nav > .links {
  display: flex;
  flex-direction: row;
}
nav > .links li {
  padding: 40px 10px;
}
nav > .fas {
  color: var(--white);
  padding: 40px 10px;
  cursor: pointer;
  font-size: 25px;
  display: none;
}
nav > .links li:hover,
nav > .links li.active {
  border-bottom: 1px solid var(--blue);
}

nav > .links a {
  all: initial;
  cursor: pointer;
  color: var(--white);
  transition: all 0.3s;
}
nav > .links li:hover > a,
nav > .links li.active > a {
  color: var(--blue);
}
.header .search {
  border-left: 1px solid var(--white);
  margin-left: 20px;
}
.header .search i {
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  color: var(--white);
}
@media (max-width: 769px) {
  nav > .fas:hover + ul.links {
    display: flex;
  }
  nav > .fas {
    display: block;
  }
  nav > .links li.active {
    border-bottom-width: 0px;
  }
  nav > .links li.active > a {
    color: var(--white);
  }
  nav > .links li.active:hover {
    border-bottom-width: 1px;
  }
  nav > .links li.active:hover > a {
    color: var(--blue);
  }
  nav .links {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 100%;
    left: 0px;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  nav .links li {
    padding: 10px 20px;
  }
  nav > .fas:hover {
    display: block;
  }
}
/* header end */
/* landing start */
.landing {
  position: relative;
  background-image: url(../Images/landing.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* filter: brightness(0.4); */
}

.circles {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: fit-content;
  top: 93%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.circles li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--white);
  margin: 0px 5px;
}
.circles .active {
  border-color: var(--blue);
  background-color: var(--blue);
}
.landing .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px 50px 50px 12%;
  background: rgb(15 116 143 / 70%);
  color: var(--white);
  border-radius: 0px 25px 25px 0px;
}
.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 10px;
}
.landing .content p {
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 769px) {
  .landing .content {
    width: 100%;
    border-radius: 25px;
    padding-top: 20px;
    margin-top: 30px;
  }
}
.brightness {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.landing i {
  position: absolute;
  color: var(--white);
  z-index: 1;
  cursor: pointer;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -5%);
  font-size: 25px;
  font-weight: 700;
}
.landing i[class*="right"] {
  left: 95%;
  transform: translatex(-95%);
}
/* landing end */

/* services start */
.servicesContent {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 50px;
  margin-bottom: 100px;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}
.servicesContent .item {
  display: flex;
}
.servicesContent .item i {
  margin-right: 30px;
}
.servicesContent .item h2 {
  margin-bottom: 30px;
  font-weight: 500;
  color: var(--blue);
}
.servicesContent .item p {
  line-height: 2;
  color: rgb(119, 119, 119);
}
@media (max-width: 769px) {
  .servicesContent .item {
    flex-direction: column;
    text-align: center;
  }
  .servicesContent .item i {
    margin: 0px 0px 30px;
  }
}
@media (max-width: 577px) {
  .servicesContent {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
/* services end */

/* design start */
.design {
  background-image: url(../Images/design-features.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  z-index: -2;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.design .content {
  position: absolute;
  color: white;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50%;
  background: var(--secBlue);
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 25px 0px 0px 25px;
}
.design .content h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.design .content li {
  margin: 15px 0px;
}
.design .content i {
  font-size: 20px;
  margin-right: 10px;
}
.design .img {
  position: absolute;
  bottom: -70px;
  left: 70px;
}
@media (max-width: 900px) {
  .design .content {
    width: 100%;
    border-radius: 25px;
  }
  .design .img {
    display: none;
  }
}
@media (max-width: 400px) {
  .design .content {
    padding: 25px;
  }
}
/* design end */

/* portfolio start */
.portfolio .filterPhoto {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio .filterPhoto li {
  padding: 8px;
  margin: 5px;
  transition: all 0.1s;
}
.portfolio .filterPhoto li.active,
.portfolio .filterPhoto li:hover {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 15px;
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.portfolio .imgs-container .box {
  width: 25%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 992px) {
  .portfolio .imgs-container .box {
    width: 33%;
  }
}
@media (max-width: 768px) {
  .portfolio .imgs-container .box {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .portfolio .imgs-container .box {
    width: 100%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: all 1s;
}
.portfolio .imgs-container .box:hover img {
  transform: scale(1.3, 1.3) rotate(10deg);
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 20px;
  bottom: -100px;
  transition: all 0.5s;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0px;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--blue);
}
.portfolio button {
  display: block;
  margin: 30px auto 50px;
  background-color: var(--blue);
  border: none;
  padding: 15px;
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s;
}
.portfolio button:hover {
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
}

/* portfolio end */
/* video start */
.video {
  margin-top: 50px;
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1;
  top: 0;
}
.video video {
  max-width: 100%;
}
.videoContent {
  position: absolute;
  background-color: var(--secBlue);
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding: 50px;
  top: 50%;
  transform: translatey(-50%);
  color: var(--white);
  z-index: 5;
}
@media (max-width: 769px) {
  .videoContent {
    position: relative;
    transform: translatey(0%);
  }
}
.videoContent h3 {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 24px;
}
.videoContent p {
  margin: 20px;
}
.videoContent button {
  color: var(--white);
  background-color: black;
  border: none;
  padding: 12px;
  border-radius: 7px;
  cursor: pointer;
}
/* video end */

/* aboutus start */
.aboutus .img {
  text-align: center;
  max-width: 100%;
  position: relative;
  top: 4px;
}
.aboutus .img img {
  max-width: 100%;
}
/* aboutus end */

/* stats start */
.stats {
  background-image: url(../Images/stats.png);
  position: relative;
  background-size: cover;
  padding: 100px;
}
.stats::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 0;
  top: 0;
  left: 0;
}
.stats .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
}

@media (max-width: 1000px) {
  .stats .container {
    grid-template-columns: repeat(auto-fill, 50%);
  }
}
@media (max-width: 769px) {
  .stats .container {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
@media (max-width: 500px) {
  .stats {
    padding: 40px;
  }
}

.stats .container .item {
  padding: 55px;
  color: var(--white);
  background-color: var(--secBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stats .container .item i {
  color: var(--white);
  --size: 40px;
  width: var(--size, 30px);
  height: var(--size, 30px);
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 0px auto 20px;
}
.stats .container .number {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container p {
  text-align: center;
  font-size: 14px;
}
/* stats end */

/* our-skills start */
.our-skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-content: center;
  gap: 50px;
  padding: 100px 0px 50px;
}
@media (min-width: 1350px) {
  .our-skills .container {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}
@media (max-width: 500px) {
  .our-skills .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
@media (max-width: 400px) {
  .our-skills .container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.our-skills .testimonials,
.our-skills .skills {
  flex-basis: 45%;
  position: relative;
  margin: 50px auto;
}
@media (max-width: 576px) {
  .our-skills .testimonials,
  .our-skills .skills {
    max-width: 90%;
  }
}
.our-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.our-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.testimonials > .content {
  display: flex;
  margin-bottom: 20px;
}
.testimonials > .content .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}

.our-skills .testimonials img {
  width: 100px;
  border-radius: 50%;
  margin-right: 30px;
}
@media (max-width: 577px) {
  .testimonials > .content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .our-skills .testimonials img {
    margin: 20px;
  }
}
.our-skills .testimonials .circles {
  top: 105%;
}
.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
  max-width: 100%;
  position: relative;
  background-color: #dedadc;
  height: 30px;
  margin: 15px auto;
}

.our-skills .skills .prog-holder .prog span {
  position: absolute;
  width: var(attr(data-progress));
  height: 100%;
  background-color: var(--blue);
  top: 0px;
}
.our-skills .skills .prog-holder .prog span[data-progress="80%"] {
  width: 80%;
}
.our-skills .skills .prog-holder .prog span[data-progress="85%"] {
  width: 85%;
}
.our-skills .skills .prog-holder .prog span[data-progress="90%"] {
  width: 90%;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  top: -35px;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 3px;
  left: 96.5%;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  top: -11px;
  left: 98.5%;
  border: 8px solid transparent;
  border-top-color: black;
}
/* our-skills end */

/* ourteam start */
.team {
  background-color: var(--sec-white);
  /* background-image: url(../Images/quote.jpg);
  background-size: cover;
  position: relative; */
  text-align: center;
}
.team .container {
  padding: 25px 0px;
}
.team .container .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0px;
}
.team .container > h2 {
  font-style: italic;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 30px;
  margin-bottom: 10px;
}
.team .container > p {
  font-style: italic;
  text-transform: capitalize;
  font-weight: 100;
  margin-bottom: 10px;
}
.team .container .box {
  margin-top: 25px;
}
.team .container .box img {
  width: 200px;
  border-radius: 50%;
  border: 7px solid white;
}
.team .container .box h3 {
  margin: 8px 0px;
}
.team .container .box p {
  font-style: italic;
  text-transform: capitalize;
  font-weight: 200;
  margin-bottom: 10px;
}
.team .container .box .social-icons {
  display: flex;
  justify-content: space-evenly;
}
.team .container .box i {
  color: var(--white);
  --size: 35px;
  width: var(--size, 30px);
  height: var(--size, 30px);
  border-radius: 50%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
/* ourteam end */

/* price start */
.plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 50px 0px;
}
.plans .plan {
  background-color: var(--sec-white);
  margin-bottom: 50px;
}
.plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  text-align: center;
}
.plans .plan .head p {
  font-weight: normal;
  margin-bottom: 20px;
}
.plans .plan .head h3 {
  font-size: 60px;
  font-weight: bold;
}
.plans .plan .head h3::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.plans .plan .head h3::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
}
.plans .plan .body {
  border-bottom: 1px solid var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plans .plan .body span {
  display: inline-block;
  padding: 20px;
  border-bottom: 1px solid var(--blue);
}
.plans .plan .body span:last-of-type {
  border-width: 0px;
}
.plans .plan .foot {
  margin: 30px auto;
}
.plans .plan .foot a {
  display: block;
  text-decoration: none;
  width: fit-content;
  padding: 20px;
  margin: 0px auto;
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  transition: all 0.5s;
}
.plans .plan .foot a:hover {
  color: var(--white);
  background-color: var(--blue);
}
/* price end */
/* footer start */
.footer {
  padding: 50px 0px;
  background-image: url(../Images/subscribe.jpg);
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
  z-index: -1;
}
.footer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: -1;
}
.footer .container p:first-of-type {
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .container i {
  padding: 10px 15px;
}
.footer .container .copyright {
  margin-top: 60px;
}
.footer .container .copyright span {
  color: var(--blue);
  font-weight: 600;
}
/* footer end */
